<!DOCTYPE html>
<html class="x-admin-sm">
	<head>
		<title>2-折叠面板+工具栏按钮.html</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi">
		<!-- font:1.0.0 anonymous source:classpath:META-INF.resources.themes.xadmin.css.font.css -->
		<link rel="stylesheet" id="font_1.0.0" type="text/css" href="/themes/xadmin/css/font.css" />
		<!-- layer:1.0.0 anonymous source:classpath:META-INF.resources.themes.xadmin.lib.layui.css.modules.layer.default.layer.css -->
		<link rel="stylesheet" id="layer_1.0.0" type="text/css" href="/themes/xadmin/lib/layui/css/modules/layer/default/layer.css" />
		<!-- xadmin:1.0.0 anonymous source:classpath:META-INF.resources.themes.xadmin.css.xadmin.css -->
		<link rel="stylesheet" id="xadmin_1.0.0" type="text/css" href="/themes/xadmin/css/xadmin.css" />
	</head>
	<body>
		<div class="layui-fluid">
			<div class="layui-row layui-col-space15">
				<div class="layui-col-md12">
					<div class="layui-card">
						<div class="layui-card-body ">
							<div class="layui-collapse" lay-filter="test">
								<div class="layui-colla-item">
									<h2 class="layui-colla-title">文本框条件<i class="layui-icon layui-colla-icon"></i></h2>
									<div class="layui-colla-content  ">
										<div class="layui-form layui-col-space5" action="">
											<div class="layui-form-item">
												<div class="layui-input-inline layui-show-xs-block">
                                    				<input class="layui-input" placeholder="开始日" name="start" id="start" lay-key="1">
												</div>
												<div class="layui-input-inline layui-show-xs-block">
                                    				<input class="layui-input" placeholder="开始日" name="start" id="start" lay-key="1">
												</div>
												<div class="layui-input-inline layui-show-xs-block">
                                    				<input class="layui-input" placeholder="开始日" name="start" id="start" lay-key="1">
												</div>
												<div class="layui-input-inline layui-show-xs-block">
                                    				<input class="layui-input" placeholder="开始日" name="start" id="start" lay-key="1">
												</div>
												<div class="layui-input-inline layui-show-xs-block">
                                    				<input class="layui-input" placeholder="开始日" name="start" id="start" lay-key="1">
												</div>
												<div class="layui-input-inline layui-show-xs-block">
                                    				<input class="layui-input" placeholder="开始日" name="start" id="start" lay-key="1">
												</div>
												<div class="layui-input-inline layui-show-xs-block">
                                    				<input class="layui-input" placeholder="开始日" name="start" id="start" lay-key="1">
												</div>
												<div class="layui-input-inline layui-show-xs-block">
                                    				<input class="layui-input" placeholder="开始日" name="start" id="start" lay-key="1">
												</div>
											</div>
											<!-- 组件位置 -->
											<div class="layui-form-item">
												<div class="layui-input-block" style="text-align: right;">
													<button class='layui-btn layui-btn-radius' onclick='javascript:fun__main__WebFormContainer_form__WebButtonComponent_add1__click__0();'><i class='layui-icon'></i>新增1</button>
													<button type="reset" class="layui-btn layui-btn-primary">重置</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--工具栏-->
						<div class="layui-card-header">
							<button class='layui-btn' onclick='javascript:fun__main__WebFormContainer_form__WebButtonComponent_add1__click__0();'><i class='layui-icon'></i>新增1</button>
							<button class='layui-btn' onclick='javascript:fun__main__WebFormContainer_form__WebButtonComponent_add1__click__0();'><i class='layui-icon'></i>新增2</button>
							<button class='layui-btn' onclick='javascript:fun__main__WebFormContainer_form__WebButtonComponent_add1__click__0();'><i class='layui-icon'></i>新增3</button>
							<button class='layui-btn' onclick='javascript:fun__main__WebFormContainer_form__WebButtonComponent_add1__click__0();'><i class='layui-icon'></i>新增4</button>
							<button class='layui-btn' onclick='javascript:fun__main__WebFormContainer_form__WebButtonComponent_add1__click__0();'><i class='layui-icon'></i>新增5</button>
							<button class='layui-btn' onclick='javascript:fun__main__WebFormContainer_form__WebButtonComponent_add1__click__0();'><i class='layui-icon'></i>新增6</button>
							<button class='layui-btn' onclick='javascript:fun__main__WebFormContainer_form__WebButtonComponent_add1__click__0();'><i class='layui-icon'></i>新增7</button>
							<button class='layui-btn' onclick='javascript:fun__main__WebFormContainer_form__WebButtonComponent_add1__click__0();'><i class='layui-icon'></i>新增8</button>
							<button class='layui-btn' onclick='javascript:fun__main__WebFormContainer_form__WebButtonComponent_add1__click__0();'><i class='layui-icon'></i>新增9</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<!-- jquery:1.0.0 anonymous source:classpath:META-INF.resources.javax.web.suyan4j.vendors.jquery.jquery.js -->
	<script type="text/javascript" src="/javax/web/suyan4j/vendors/jquery/jquery.js"></script>
	<!-- layui:1.0.0 anonymous source:classpath:META-INF.resources.themes.xadmin.lib.layui.layui.js -->
	<script type="text/javascript" src="/themes/xadmin/lib/layui/layui.js"></script>
	<!-- xadmin:1.0.0 anonymous source:classpath:META-INF.resources.themes.xadmin.js.xadmin.js -->
	<script type="text/javascript" src="//themes/xadmin/js/xadmin.js"></script>
	<!-- anonymous source:XadminButtonComponent id:main__WebFormContainer_form__WebButtonComponent_add1 -->
	<script type="text/javascript">
		function fun__main__WebFormContainer_form__WebButtonComponent_add1__click__0(row){
		    alert("新增1");
		}
	</script>

</html>