<!DOCTYPE html>
<html class="x-admin-sm">

	<head>
		<title>2-折叠面板+工具栏按钮.html</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi">
		<!-- font:1.0.0 anonymous source:classpath:META-INF.resources.themes.xadmin.css.font.css -->
		<link rel="stylesheet" id="font_1.0.0" type="text/css" href="/themes/xadmin/css/font.css" />
		<!-- layer:1.0.0 anonymous source:classpath:META-INF.resources.themes.xadmin.lib.layui.css.modules.layer.default.layer.css -->
		<link rel="stylesheet" id="layer_1.0.0" type="text/css" href="/themes/xadmin/lib/layui/css/modules/layer/default/layer.css" />
		<!-- xadmin:1.0.0 anonymous source:classpath:META-INF.resources.themes.xadmin.css.xadmin.css -->
		<link rel="stylesheet" id="xadmin_1.0.0" type="text/css" href="/themes/xadmin/css/xadmin.css" />
	</head>

	<body>
		<div class="layui-fluid">
			<div class="layui-row layui-col-space15">
				<div class="layui-col-md12">
					<div class="layui-card">
						<!--输入区-->
						<div class="layui-card-body" style="padding-bottom: 0px;">
							<blockquote class="layui-elem-quote">在这个提示区域显示简单的帮助信息，用于引导用户,一般建议容纳30给以内的提示信息<span class="layui-badge layui-bg-black" style="float: right;">隐藏</span></blockquote>
							<div class="layui-form" action="">
								<div class="layui-form-item">
									<div class="layui-inline">
										<div class="layui-input-inline layui-show-xs-block">
											<input class="layui-input" placeholder="开始日" name="start" id="start1" lay-key="1">
										</div>
									</div>
									<div class="layui-inline">
										<div class="layui-input-inline layui-show-xs-block">
											<input class="layui-input" placeholder="开始日" name="start" id="start2" lay-key="2">
										</div>
									</div>
									<div class="layui-inline">
										<div class="layui-input-inline layui-show-xs-block">
											<input class="layui-input" placeholder="开始日" name="start" id="start3" lay-key="3">
										</div>
									</div>
									<div class="layui-inline">
										<div class="layui-input-inline layui-show-xs-block">
											<input class="layui-input" placeholder="开始日" name="start" id="start4" lay-key="4">
										</div>
									</div>
									<div class="layui-inline">
										<div class="layui-input-inline layui-show-xs-block">
											<input class="layui-input" placeholder="开始日" name="start" id="start5" lay-key="5">
										</div>
									</div>
									<div class="layui-inline">
										<div class="layui-input-inline layui-show-xs-block">
											<input class="layui-input" placeholder="开始日" name="start" id="start6" lay-key="6">
										</div>
									</div>
									<div class="layui-inline">
										<div class="layui-input-inline layui-show-xs-block">
											<input class="layui-input" placeholder="开始日" name="start" id="start7" lay-key="7">
										</div>
									</div>
									<div class="layui-inline">
										<div class="layui-input-inline layui-show-xs-block">
											<input class="layui-input" placeholder="开始日" name="start" id="start8" lay-key="8">
										</div>
									</div>
									<div class="layui-inline">
										<div class="layui-input-inline layui-show-xs-block">
											<input class="layui-input" placeholder="开始日" name="start" id="start9" lay-key="9">
										</div>
									</div>
									<div class="layui-inline">
										<div class="layui-input-inline layui-show-xs-block">
											<input class="layui-input" placeholder="开始日" name="start" id="start10" lay-key="10">
										</div>
									</div>
								</div>
								<!-- 组件位置 -->
								<div class="layui-form-item">
									<div class="layui-input-block" style="text-align: right;">
										<button class='layui-btn layui-btn-radius' onclick='javascript:fun__main__WebFormContainer_form__WebButtonComponent_add1__click__0();'><i class='layui-icon'></i>查询</button>
										<button class="layui-btn layui-btn-primary" onclick="javascript:location.reload();">重置</button>
									</div>
								</div>
							</div>
						</div>
						<!--工具栏-->
						<div class="layui-card-body">
							<button class='layui-btn' onclick='javascript:fun__main__WebFormContainer_form__WebButtonComponent_add1__click__0();'><i class='layui-icon'></i>新增1</button>
							<button class='layui-btn' onclick='javascript:fun__main__WebFormContainer_form__WebButtonComponent_add1__click__0();'><i class='layui-icon'></i>新增2</button>
							<button class='layui-btn' onclick='javascript:fun__main__WebFormContainer_form__WebButtonComponent_add1__click__0();'><i class='layui-icon'></i>新增3</button>
							<button class='layui-btn' onclick='javascript:fun__main__WebFormContainer_form__WebButtonComponent_add1__click__0();'><i class='layui-icon'></i>新增4</button>
							<button class='layui-btn' onclick='javascript:fun__main__WebFormContainer_form__WebButtonComponent_add1__click__0();'><i class='layui-icon'></i>新增5</button>
							<button class='layui-btn' onclick='javascript:fun__main__WebFormContainer_form__WebButtonComponent_add1__click__0();'><i class='layui-icon'></i>新增6</button>
							<button class='layui-btn' onclick='javascript:fun__main__WebFormContainer_form__WebButtonComponent_add1__click__0();'><i class='layui-icon'></i>新增7</button>
							<button class='layui-btn' onclick='javascript:fun__main__WebFormContainer_form__WebButtonComponent_add1__click__0();'><i class='layui-icon'></i>新增8</button>
							<button class='layui-btn' onclick='javascript:fun__main__WebFormContainer_form__WebButtonComponent_add1__click__0();'><i class='layui-icon'></i>新增9</button>
							<button class='layui-btn' onclick='javascript:fun__main__WebFormContainer_form__WebButtonComponent_add1__click__0();'><i class='layui-icon'></i>新增1</button>
							<button class='layui-btn' onclick='javascript:fun__main__WebFormContainer_form__WebButtonComponent_add1__click__0();'><i class='layui-icon'></i>新增2</button>
							<button class='layui-btn' onclick='javascript:fun__main__WebFormContainer_form__WebButtonComponent_add1__click__0();'><i class='layui-icon'></i>新增3</button>
							<button class='layui-btn' onclick='javascript:fun__main__WebFormContainer_form__WebButtonComponent_add1__click__0();'><i class='layui-icon'></i>新增4</button>
							<button class='layui-btn' onclick='javascript:fun__main__WebFormContainer_form__WebButtonComponent_add1__click__0();'><i class='layui-icon'></i>新增5</button>
						</div>
						<!--结果展示区-->
						<div class="layui-card-body">
                            <table id="queryTable1" class="layui-table" lay-filter="queryTable1"></table>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script type="text/html" id="barDemo">
	  <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
	  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
	  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
	  
	  <!-- 这里同样支持 laytpl 语法，如： -->
	  {{#  if(d.auth > 2){ }}
	    <a class="layui-btn layui-btn-xs" lay-event="check">审核</a>
	  {{#  } }}
	</script>
	
	<script type="text/html" id="dropdownMenu">
	  	<div class="xadmin-toolbar">
		  	<div class="dropdown">
		  		<button lay-event="droplist" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">操作<span class="caret"></span></button>
		  	</div>
	  	</div>
	</script>
	<!-- jquery:1.0.0 anonymous source:classpath:META-INF.resources.javax.web.suyan4j.vendors.jquery.jquery.js -->
	<script type="text/javascript" src="/javax/web/suyan4j/vendors/jquery/jquery.js"></script>
	<!-- layui:1.0.0 anonymous source:classpath:META-INF.resources.themes.xadmin.lib.layui.layui.js -->
	<script type="text/javascript" src="/themes/xadmin/lib/layui/layui.js"></script>
	<!-- xadmin:1.0.0 anonymous source:classpath:META-INF.resources.themes.xadmin.js.xadmin.js -->
	<script type="text/javascript" src="/themes/xadmin/js/xadmin.js"></script>
	<!-- anonymous source:XadminButtonComponent id:main__WebFormContainer_form__WebButtonComponent_add1 -->
	<script type="text/javascript">
		function fun__main__WebFormContainer_form__WebButtonComponent_add1__click__0(row) {
			alert("新增1");
		}
		layui.use(['table','laydate'], function() {
			var table = layui.table;
			var laydate = layui.laydate;
			laydate.render({
				elem: '#start1', //指定元素
				type: 'time'
			});
			laydate.render({
				elem: '#start2', //指定元素
				type: 'datetime',
				format: 'yyyy-MM-dd HH:mm:ss'
			});
			laydate.render({
				elem: '#start3', //指定元素
				type: 'datetime',
				format: 'yyyy-MM-dd HH:mm:ss'
			});
			laydate.render({
				elem: '#start4', //指定元素
				type: 'datetime',
				format: 'yyyy-MM-dd HH:mm:ss'
			});
			//执行一个laypage实例
			table.render({
				elem: '#queryTable1',
				height: 'auto',
				limit: 15,
				limits: [15,30,45,60, 75, 90],
				toolbar: true,//开启表格头部工具栏区域
				loading:true,//是否显示加载条（默认：true）。如果设置 false，则在切换分页时，不会出现加载条。该参数只适用于 url 参数开启的方式
//				url: '/demo/table/user/', //数据接口
				data: [
					{
						id:1,
						username:'测试1',
						sex:'男',
						city:'重庆',
						sign:'123456789',
						classify:'接待员',
						wealth:1234567890.00
					},
					{
						id:2,
						username:'测试2',
						sex:'女',
						city:'四川',
						sign:'3456789',
						classify:'出纳',
						wealth:123457654.00
						},
					{
						id:2,
						username:'测试2',
						sex:'女',
						city:'四川',
						sign:'3456789',
						classify:'出纳',
						wealth:123457654.00},
					{
						id:2,
						username:'测试2',
						sex:'女',
						city:'四川',
						sign:'3456789',
						classify:'出纳',
						wealth:123457654.00},
					{
						id:2,
						username:'测试2',
						sex:'女',
						city:'四川',
						sign:'3456789',
						classify:'出纳',
						wealth:123457654.00},
					{
						id:2,
						username:'测试2',
						sex:'女',
						city:'四川',
						sign:'3456789',
						classify:'出纳',
						wealth:123457654.00},
					{
						id:2,
						username:'测试2',
						sex:'女',
						city:'四川',
						sign:'3456789',
						classify:'出纳',
						wealth:123457654.00},
					{
						id:2,
						username:'测试2',
						sex:'女',
						city:'四川',
						sign:'3456789',
						classify:'出纳',
						wealth:123457654.00},
					{
						id:2,
						username:'测试2',
						sex:'女',
						city:'四川',
						sign:'3456789',
						classify:'出纳',
						wealth:123457654.00},
					{
						id:2,
						username:'测试2',
						sex:'女',
						city:'四川',
						sign:'3456789',
						classify:'出纳',
						wealth:123457654.00},
					{
						id:2,
						username:'测试2',
						sex:'女',
						city:'四川',
						sign:'3456789',
						classify:'出纳',
						wealth:123457654.00},
					{
						id:2,
						username:'测试2',
						sex:'女',
						city:'四川',
						sign:'3456789',
						classify:'出纳',
						wealth:123457654.00},
					{
						id:2,
						username:'测试2',
						sex:'女',
						city:'四川',
						sign:'3456789',
						classify:'出纳',
						wealth:123457654.00},
					{
						id:2,
						username:'测试2',
						sex:'女',
						city:'四川',
						sign:'3456789',
						classify:'出纳',
						wealth:123457654.00},
					{
						id:2,
						username:'测试2',
						sex:'女',
						city:'四川',
						sign:'3456789',
						classify:'出纳',
						wealth:123457654.00},
					{
						id:2,
						username:'测试2',
						sex:'女',
						city:'四川',
						sign:'3456789',
						classify:'出纳',
						wealth:123457654.00},
					{
						id:2,
						username:'测试2',
						sex:'女',
						city:'四川',
						sign:'3456789',
						classify:'出纳',
						wealth:123457654.00},
					{
						id:2,
						username:'测试2',
						sex:'女',
						city:'四川',
						sign:'3456789',
						classify:'出纳',
						wealth:123457654.00},
					{
						id:2,
						username:'测试2',
						sex:'女',
						city:'四川',
						sign:'3456789',
						classify:'出纳',
						wealth:123457654.00},
					{
						id:2,
						username:'测试2',
						sex:'女',
						city:'四川',
						sign:'3456789',
						classify:'出纳',
						wealth:123457654.00},
					{
						id:2,
						username:'测试2',
						sex:'女',
						city:'四川',
						sign:'3456789',
						classify:'出纳',
						wealth:123457654.00},
					{
						id:2,
						username:'测试2',
						sex:'女',
						city:'四川',
						sign:'3456789',
						classify:'出纳',
						wealth:123457654.00
					}
				],
				page: true, //开启分页
				cols: [
					[ //表头
						{
							field: 'id',
							title: 'ID',
							width: 80,
							sort: true,
							fixed: 'left',
							type:'numbers',
						}, {
							field: 'username',//设定字段名。字段名的设定非常重要，且是表格数据列的唯一标识
							title: '用户名',//设定标题名称
							width: 100,//设定列宽，若不填写，则自动分配；若填写，则支持值为：数字、百分比,请结合实际情况，对不同列做不同设定。
							minWidth:80,//局部定义当前常规单元格的最小宽度
							type:'normal',
//							fixed:'right',
							hide:false,//是否初始隐藏列
							unresize:true,
							style:'background-color: #888; color: #999;',
							align:'center',
//							colspan:2,
//							rowspan:2,
//							templet: "#titleTpl"
//							templet: function(d){
//								return "<div><a href='/detail111/"+ d.id +"' class='layui-table-link'>"+ d.username +"</a></div>";
//							}
							templet: "<div><a href='/detail2222/{{d.id}}' class='layui-table-link'>{{d.username}}</a></div>"
						}, {
							field: 'sex',
							title: '性别',
							width: 80,
							sort: true
						}, {
							field: 'city',
							title: '城市',
							width: 80
						}, {
							field: 'sign',
							title: '签名',
							width: 177
						}, {
							field: 'experience',
							title: '积分',
							width: 80,
							sort: true
						}, {
							field: 'score',
							title: '评分',
							width: 80,
							sort: true
						}, {
							field: 'classify',
							title: '职业',
							width: 80,
							templet: '#classifyTpl'
						}, {
							field: 'wealth',
							title: '财富',
							width: 135,
							sort: true
						},{
							title: '操作',
							width: 200,
							fixed: 'right',
							toolbar: "#dropdownMenu"
						}
					]
				]
			});
			
			//监听工具条 
			table.on('tool(queryTable1)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
			  var data = obj.data; //获得当前行数据
			  var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
			  var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）
			 
			  if(layEvent === 'detail'){ //查看
			    //do somehing
			    alert('调用远程接口');
			  } else if(layEvent === 'del'){ //删除
			    layer.confirm('真的删除行么', function(index){
			      obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
			      layer.close(index);
			      //向服务端发送删除指令
			    });
			  } else if(layEvent === 'edit'){ //编辑
			    //do something
			    alert('调用远程接口');
			    //同步更新缓存对应的值
			    obj.update({
			      username: '123'
			      ,title: 'xxx'
			    });
			  } else if(layEvent === 'LAYTABLE_TIPS'){
			    layer.alert('Hi，头部工具栏扩展的右侧图标。');
			  }
			});
		});
	</script>

</html>