<!DOCTYPE html>
<html class="x-admin-sm">
    <head>
        <title>文本框</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi">
        <!-- font:1.0.0 anonymous source:classpath:META-INF.resources.themes.xadmin.css.font.css -->
        <link rel="stylesheet" id="font_1.0.0" type="text/css" href="http://127.0.0.1:8020/Suyan4j/themes/xadmin/css/font.css"/>
        <!-- layer:1.0.0 anonymous source:classpath:META-INF.resources.themes.xadmin.lib.layui.css.modules.layer.default.layer.css -->
        <link rel="stylesheet" id="layer_1.0.0" type="text/css" href="http://127.0.0.1:8020/Suyan4j/themes/xadmin/lib/layui/css/modules/layer/default/layer.css"/>
        <!-- xadmin:1.0.0 anonymous source:classpath:META-INF.resources.themes.xadmin.css.xadmin.css -->
        <link rel="stylesheet" id="xadmin_1.0.0" type="text/css" href="http://127.0.0.1:8020/Suyan4j/themes/xadmin/css/xadmin.css"/>
        <!-- anonymous providerClass:com.rnkrsoft.suyan4j.theme.xadmin.container.XadminClassicFormContainer -->
        <style type="text/css">
            .layui-fluid{
                -webkit-user-select:none;
                -moz-user-select:none;
                -ms-user-select:none;
                user-select:none;
            }
        </style>
    </head>
    <body>
        <div class="layui-fluid" id="root__WebClassicFormContainer_main">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <!--工具栏-->
                        <div class="layui-card-header">
                            <button class='layui-btn ' id='root__WebClassicFormContainer_main__WebButtonComponent_add1'><i class='layui-icon'></i>新增1</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/html" id="root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1" style="display: none;">
            <div class="layui-form layui-form-pane" action="">
                <div class="layui-form-item">
					<label class="layui-form-label">输入框</label>
					<div class="layui-input-block">
						<input type="text" name="title" required="" lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">密码框</label>
					<div class="layui-input-inline">
						<input type="password" name="password" required="" lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
					</div>
					<div class="layui-form-sx layui-word-aux">辅助文字</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">输入框</label>
					<div class="layui-input-block">
						<input type="text" name="title" required="" lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">输入框</label>
					<div class="layui-input-block">
						<input type="text" name="title" required="" lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">输入框</label>
					<div class="layui-input-block">
						<input type="text" name="title" required="" lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">选择框</label>
					<div class="layui-input-block">
						<select name="city" lay-verify="required">
							<option value=""></option>
							<option value="0">北京</option>
							<option value="1">上海</option>
							<option value="2">广州</option>
							<option value="3">深圳</option>
							<option value="4">杭州</option>
						</select>
						<div class="layui-unselect layui-form-select">
							<div class="layui-select-title"><input type="text" placeholder="请选择" value="" readonly="" class="layui-input layui-unselect"><i class="layui-edge"></i></div>
							<dl class="layui-anim layui-anim-upbit">
								<dd lay-value="" class="layui-select-tips">请选择</dd>
								<dd lay-value="0" class="">北京</dd>
								<dd lay-value="1" class="">上海</dd>
								<dd lay-value="2" class="">广州</dd>
								<dd lay-value="3" class="">深圳</dd>
								<dd lay-value="4" class="">杭州</dd>
							</dl>
						</div>
					</div>
				</div>
            </div>
        </script>
    </body>
    <!-- jquery:1.0.0 anonymous source:classpath:META-INF.resources.javax.web.suyan4j.vendors.jquery.jquery.js -->
    <script type="text/javascript" src="http://127.0.0.1:8020/Suyan4j/javax/web/suyan4j/vendors/jquery/jquery.js"></script>
    <!-- layui:1.0.0 anonymous source:classpath:META-INF.resources.themes.xadmin.lib.layui.layui.js -->
    <script type="text/javascript" src="http://127.0.0.1:8020/Suyan4j/themes/xadmin/lib/layui/layui.js"></script>
    <!-- xadmin:1.0.0 anonymous source:classpath:META-INF.resources.themes.xadmin.js.xadmin.js -->
    <script type="text/javascript" src="http://127.0.0.1:8020/Suyan4j/themes/xadmin/js/xadmin.js"></script>
    <!-- anonymous providerClass:com.rnkrsoft.suyan4j.theme.xadmin.component.XadminButtonComponent -->
    <script type="text/javascript">
        /**
         * root__WebClassicFormContainer_main__WebButtonComponent_add1 单击事件
         * @param {Object} row 如果是分页表格中的单击操作，则会传递表格选中的当前行数据
         * @param {Object} dialogId 按钮所属的layui窗口ID
         */
        function function__root__WebClassicFormContainer_main__WebButtonComponent_add1__click__1(row, dialogId){
            if(row && typeof row == 'string'){        
                row = JSON.parse(Base64.decode(row));        
            }        
            var request = {}        
            show__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1(request, row);
        }
        $(document).ready(function(){         
            $('#root__WebClassicFormContainer_main__WebButtonComponent_add1').click(function(){        
                function__root__WebClassicFormContainer_main__WebButtonComponent_add1__click__1();        
            });        
        });
    </script>
    <!-- anonymous providerClass:com.rnkrsoft.suyan4j.theme.xadmin.component.XadminTextComponent -->
    <script type="text/javascript">
        /**
         * 
         * @param {Object} value 变量值
         */
        function setValue__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text1(value){
            $("root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text1").val(value);
        }
        function getValue__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text1(){
            return $("root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text1").val();
        }
    </script>
    <!-- anonymous providerClass:com.rnkrsoft.suyan4j.theme.xadmin.component.XadminTextComponent -->
    <script type="text/javascript">
        /**
         * 
         * @param {Object} value 变量值
         */
        function setValue__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text3(value){
            $("root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text3").val(value);
        }
        function getValue__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text3(){
            return $("root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text3").val();
        }
    </script>
    <!-- anonymous providerClass:com.rnkrsoft.suyan4j.theme.xadmin.component.XadminTextComponent -->
    <script type="text/javascript">
        /**
         * 
         * @param {Object} value 变量值
         */
        function setValue__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text4(value){
            $("root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text4").val(value);
        }
        function getValue__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text4(){
            return $("root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text4").val();
        }
    </script>
    <!-- anonymous providerClass:com.rnkrsoft.suyan4j.theme.xadmin.component.XadminTextComponent -->
    <script type="text/javascript">
        /**
         * 
         * @param {Object} value 变量值
         */
        function setValue__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text5(value){
            $("root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text5").val(value);
        }
        function getValue__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text5(){
            return $("root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text5").val();
        }
    </script>
    <!-- anonymous providerClass:com.rnkrsoft.suyan4j.theme.xadmin.component.XadminTextComponent -->
    <script type="text/javascript">
        /**
         * 
         * @param {Object} value 变量值
         */
        function setValue__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text6(value){
            $("root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text6").val(value);
        }
        function getValue__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text6(){
            return $("root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text6").val();
        }
    </script>
    <!-- anonymous providerClass:com.rnkrsoft.suyan4j.theme.xadmin.component.XadminTextComponent -->
    <script type="text/javascript">
        /**
         * 
         * @param {Object} value 变量值
         */
        function setValue__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text7(value){
            $("root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text7").val(value);
        }
        function getValue__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text7(){
            return $("root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text7").val();
        }
    </script>
    <!-- anonymous providerClass:com.rnkrsoft.suyan4j.theme.xadmin.component.XadminTextComponent -->
    <script type="text/javascript">
        /**
         * 
         * @param {Object} value 变量值
         */
        function setValue__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text8(value){
            $("root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text8").val(value);
        }
        function getValue__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text8(){
            return $("root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text8").val();
        }
    </script>
    <!-- anonymous providerClass:com.rnkrsoft.suyan4j.theme.xadmin.component.XadminClassicDialogBoxComponent -->
    <script type="text/javascript">
        /**
         * 
         * @param {Object} value 变量值
         */
        function setValue__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1(value){
            setValue__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text1(value["text1"]);        
            setValue__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text3(value["text3"]);        
            setValue__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text4(value["text4"]);        
            setValue__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text5(value["text5"]);        
            setValue__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text6(value["text6"]);        
            setValue__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text7(value["text7"]);        
            setValue__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text8(value["text8"]);
        }
        function getValue__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1(){
            var data = {};        
            data["text1"] = getValue__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text1();        
            data["text3"] = getValue__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text3();        
            data["text4"] = getValue__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text4();        
            data["text5"] = getValue__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text5();        
            data["text6"] = getValue__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text6();        
            data["text7"] = getValue__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text7();        
            data["text8"] = getValue__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text8();        
            return data;
        }
        /**
         * 
         * @param {Object} request 请求对象
         * @param {Object} row 表格数据行
         */
        function show__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1(request, row){
            var _layer = layer.open({        
            	content: $('#root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1').html(),
				btnAlign: 'c',
				anim: 6,
				moveOut: true,
				btn: ['yes', 'no'],
				yes: function(index, layero) {
					 console.log(layero, index);
					alert('按钮【按钮一】的回调');
					return true;
				},
				cancel: function(index) {
					alert('右上角关闭回调');
					layer.close(index)
				},
				success: function(layero, index){
				    layui.use("form", function(){
						var form = layui.form;
					});
				}        
            });
        }
    </script>
</html>
