<!DOCTYPE html>
<html class="x-admin-sm">
    <head>
        <title>文本框</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi">
        <!-- font:1.0.0 anonymous source:classpath:META-INF.resources.themes.xadmin.css.font.css -->
        <link rel="stylesheet" id="font_1.0.0" type="text/css" href="/themes/xadmin/css/font.css"/>
        <!-- layer:1.0.0 anonymous source:classpath:META-INF.resources.themes.xadmin.lib.layui.css.modules.layer.default.layer.css -->
        <link rel="stylesheet" id="layer_1.0.0" type="text/css" href="/themes/xadmin/lib/layui/css/modules/layer/default/layer.css"/>
        <!-- xadmin:1.0.0 anonymous source:classpath:META-INF.resources.themes.xadmin.css.xadmin.css -->
        <link rel="stylesheet" id="xadmin_1.0.0" type="text/css" href="/themes/xadmin/css/xadmin.css"/>
        <!-- anonymous providerClass:com.rnkrsoft.suyan4j.theme.xadmin.container.XadminClassicFormContainer -->
        <style type="text/css">
            .layui-fluid{
                -webkit-user-select:none;
                -moz-user-select:none;
                -ms-user-select:none;
                user-select:none;
            }
        </style>
    </head>
    <body>
        <div class="layui-fluid" id="root__WebClassicFormContainer_main">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <!--工具栏-->
                        <div class="layui-card-header">
                            <button class='layui-btn ' id='root__WebClassicFormContainer_main__WebButtonComponent_add1'><i class='layui-icon'></i>新增1</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <!-- jquery:1.0.0 anonymous source:classpath:META-INF.resources.javax.web.suyan4j.vendors.jquery.jquery.js -->
    <script type="text/javascript" src="/javax/web/suyan4j/vendors/jquery/jquery.js"></script>
    <!-- layui:1.0.0 anonymous source:classpath:META-INF.resources.themes.xadmin.lib.layui.layui.js -->
    <script type="text/javascript" src="/themes/xadmin/lib/layui/layui.js"></script>
    <!-- xadmin:1.0.0 anonymous source:classpath:META-INF.resources.themes.xadmin.js.xadmin.js -->
    <script type="text/javascript" src="/themes/xadmin/js/xadmin.js"></script>
    <!-- anonymous providerClass:com.rnkrsoft.suyan4j.theme.xadmin.component.XadminButtonComponent -->
    <script type="text/javascript">
        /**
         * root__WebClassicFormContainer_main__WebButtonComponent_add1 单击事件
         * @param {Object} row 如果是分页表格中的单击操作，则会传递表格选中的当前行数据
         * @param {Object} dialogId 按钮所属的layui窗口ID
         */
        function function__root__WebClassicFormContainer_main__WebButtonComponent_add1__click__1(row, dialogId){
            if(row && typeof row == 'string'){        
                row = JSON.parse(Base64.decode(row));        
            }        
            var request = {}        
            show__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1(request, row);
        }
        $(document).ready(function(){         
            $('#root__WebClassicFormContainer_main__WebButtonComponent_add1').click(function(){        
                function__root__WebClassicFormContainer_main__WebButtonComponent_add1__click__1();        
            });        
        });
    </script>
    <!-- anonymous providerClass:com.rnkrsoft.suyan4j.theme.xadmin.component.XadminTextComponent -->
    <script type="text/javascript">
        /**
         * 
         * @param {Object} value 变量值
         */
        function setValue__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text1(value){
            $("root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text1").val(value);
        }
        function getValue__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text1(){
            return $("root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text1").val();
        }
    </script>
    <!-- anonymous providerClass:com.rnkrsoft.suyan4j.theme.xadmin.component.XadminTextComponent -->
    <script type="text/javascript">
        /**
         * 
         * @param {Object} value 变量值
         */
        function setValue__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text3(value){
            $("root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text3").val(value);
        }
        function getValue__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text3(){
            return $("root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text3").val();
        }
    </script>
    <!-- anonymous providerClass:com.rnkrsoft.suyan4j.theme.xadmin.component.XadminTextComponent -->
    <script type="text/javascript">
        /**
         * 
         * @param {Object} value 变量值
         */
        function setValue__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text4(value){
            $("root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text4").val(value);
        }
        function getValue__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text4(){
            return $("root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text4").val();
        }
    </script>
    <!-- anonymous providerClass:com.rnkrsoft.suyan4j.theme.xadmin.component.XadminTextComponent -->
    <script type="text/javascript">
        /**
         * 
         * @param {Object} value 变量值
         */
        function setValue__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text5(value){
            $("root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text5").val(value);
        }
        function getValue__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text5(){
            return $("root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text5").val();
        }
    </script>
    <!-- anonymous providerClass:com.rnkrsoft.suyan4j.theme.xadmin.component.XadminTextComponent -->
    <script type="text/javascript">
        /**
         * 
         * @param {Object} value 变量值
         */
        function setValue__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text6(value){
            $("root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text6").val(value);
        }
        function getValue__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text6(){
            return $("root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text6").val();
        }
    </script>
    <!-- anonymous providerClass:com.rnkrsoft.suyan4j.theme.xadmin.component.XadminTextComponent -->
    <script type="text/javascript">
        /**
         * 
         * @param {Object} value 变量值
         */
        function setValue__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text7(value){
            $("root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text7").val(value);
        }
        function getValue__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text7(){
            return $("root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text7").val();
        }
    </script>
    <!-- anonymous providerClass:com.rnkrsoft.suyan4j.theme.xadmin.component.XadminTextComponent -->
    <script type="text/javascript">
        /**
         * 
         * @param {Object} value 变量值
         */
        function setValue__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text8(value){
            $("root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text8").val(value);
        }
        function getValue__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text8(){
            return $("root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text8").val();
        }
    </script>
    <!-- anonymous providerClass:com.rnkrsoft.suyan4j.theme.xadmin.component.XadminClassicDialogBoxComponent -->
    <script type="text/javascript">
        /**
         * 
         * @param {Object} value 变量值
         */
        function setValue__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1(value){
            setValue__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text1(value["text1"]);        
            setValue__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text3(value["text3"]);        
            setValue__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text4(value["text4"]);        
            setValue__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text5(value["text5"]);        
            setValue__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text6(value["text6"]);        
            setValue__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text7(value["text7"]);        
            setValue__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text8(value["text8"]);
        }
        function getValue__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1(){
            var data = {};        
            data["text1"] = getValue__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text1();        
            data["text3"] = getValue__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text3();        
            data["text4"] = getValue__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text4();        
            data["text5"] = getValue__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text5();        
            data["text6"] = getValue__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text6();        
            data["text7"] = getValue__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text7();        
            data["text8"] = getValue__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1__WebTextComponent_text8();        
            return data;
        }
        /**
         * 
         * @param {Object} request 请求对象
         * @param {Object} row 表格数据行
         */
        function show__root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1(request, row){
            var _layer = layer.open({        
            content: $('#root__WebClassicFormContainer_main__WebButtonComponent_add1__WebClassicDialogBoxComponent_add1').html(),
						btnAlign: 'c',
						anim: 6,
						moveOut: true,
						btn: ['yes', 'no'],
						yes: function(index, layero) {
							 console.log(layero, index);
							alert('按钮【按钮一】的回调');
							return true;
						},
						cancel: function() {
							alert('右上角关闭回调');
							if(confirm('确定要关闭么')){ //只有当点击confirm框的确定时，该层才会关闭
							    layer.close(index)
							}
							return false; 
							//return false 开启该代码可禁止点击该按钮关闭
						},
						success: function(layero, index){
						    console.log(layero, index);
						}        
            });
        }
    </script>
</html>
